<script>

    const getThreadId = `<%= dm.id %>`;
    const getUserRole = parseInt('0');
    
</script>
<%- include('../../parts/app/head.ejs') %> 

<script>
    const showUserMenu = (id, username) => {
        Swal.fire({
            title: username,
            html: `
                <h3 class="text-center">
                    <button class="btn btn-outline-primary" onclick="gotoPage('/@/${id}')">
                        Profile
                    </button>
                </h3>
            `
        });
    }
</script>



    <div class="h-full" id="app">
        <div class="flex-init">
            <div class="messages" id="message-container">
                <div id="thread">
                    <% if(dm.thread.length == 0){ %>
                        <h3 class="text-main m-3">
                            Be the first to send a message!
                        </h3>
                    <% } %>
                    <% dm.thread.forEach(x => { %>
                        <div class="instance" id="msg-<%= x.id %>">
                            <span class="company-text">
                                <a href="javascript:void(0)" onclick="showUserMenu('<%= x.author.id %>', '<%= x.author.username %>')"><%= x.author.username %></a>
                                <% if(x.author.badges.bot.is){ %>
                                    <% if(x.author.badges.bot.verified){ %>
                                        <span class="badge badge-primary">
                                            <img src="/media/svg/check-circle.svg" height="10" data-toggle="tooltip" title="Verified Bot"> Bot
                                        </span>
                                    <% } else { %>
                                        <span class="badge badge-primary purple">
                                            Bot
                                        </span>
                                    <% } %>
                                <% } %>
                                
                                <br><%- x.content %>
                                <% if(x.embed){ %>
                                    <blockquote class="embed">
                                        <div class="img-holder">
                                            <img class="image" src="<%= x.embed.image %>" onerror="_imgError(this)">
                                        </div>
                                        <h4 class="title">
                                            &nbsp;<%= x.embed.title %>
                                        </h4>
                                        <br>
                                        <p class="meta">
                                            <%= x.embed.description %>
                                        </p>
                                    </blockquote>
                                <% } %>
                            </span>
                        </div>
                    <% }); %>
                </div>
                <div class="typingdialog" id="typing"></div>
                <input class="form-control" type="text" id="messageText" onkeydown="messageArea('<%= dm.id %>', 'none')" onfocusout="stopTyping('<%= dm.id %>')" placeholder="Message...">
            </div>
            <div>
            </div>
        </div>
    </div>

<%- include('../../parts/app/footer.ejs') %> 