<%- include('../parts/home/head.ejs') %> 

    <div class="container">
        <div class="text-center title">
            <h1 class="text-main" style="margin-top: 100px;">
                Add <span class="text-purple"><%= bot.username %></span>
            </h1>
            <h3 class="subtitle mb-4">
                <% if(bot.bot){ %>
                    <% if(bot.dev){ %>
                        <span class="badge badge-primary">
                            <img src="/media/svg/check-circle.svg" height="22" data-toggle="tooltip" title="Verified Bot"> Bot
                        </span>
                    <% } else { %>
                        <span class="badge badge-primary purple">
                            Bot
                        </span>
                    <% } %>
                <% } %>
            </h3>
            <hr>
            <div class="buttons">
                <select class="form-control mb-2" id="guild" name="guild" aria-label="Select Guild">
                    <option selected>Select Guild</option>
                    <% guilds.forEach(x => { %>
                        <option value="<%= x.id %>"><%= x.name %></option>
                    <% }); %>
                </select>
                <button onclick="add_bot()" class="btn btn-primary purple">Authorize Bot</button>
            </div>
        </div>
    </div>

    
    <script>
        const add_bot = () => {
            socket.emit("add-bot", {
                sid: "<%= user.sid %>",
                aid: "<%= bot.id %>",
                perm: "<%= perm %>",
                g: document.getElementById("guild").value
            });
        }
    </script>
<%- include('../parts/home/footer.ejs') %> 